In [27]:
import pandas as pd
import numpy as np
import librosa
import matplotlib.pyplot as plt
import seaborn as sns
#import pandas_profiling as pp

In [28]:
df = pd.read_csv('/home/abrol/ARYAN_MT22019/CoughVid/public_dataset/metadata_compiled.csv')

In [29]:
df.head()

,uuid,datetime,cough_detected,latitude,longitude,age,gender,respiratory_condition,fever_muscle_pain,status,...,quality_3,dyspnea_3,wheezing_3,stridor_3,choking_3,congestion_3,nothing_3,cough_type_3,diagnosis_3,severity_3
0,00039425-7f3a-42aa-ac13-834aaa2b6b92,2020-04-13T21:30:59.801831+00:00,0.9609,31.3,34.8,15.0,male,False,False,healthy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0009eb28-d8be-4dc1-92bb-907e53bc5c7a,2020-04-12T04:02:18.159383+00:00,0.9301,40.0,-75.1,34.0,male,True,False,healthy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0012c608-33d0-4ef7-bde3-75a0b1a0024e,2020-04-15T01:03:59.029326+00:00,0.0482,-16.5,-71.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001328dc-ea5d-4847-9ccf-c5aa2a3f2d0f,2020-04-13T22:23:06.997578+00:00,0.9968,NaN,NaN,21.0,male,False,False,healthy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,001c85a8-cc4d-4921-9297-848be52d4715,2020-04-17T15:24:35.822355+00:00,0.0735,40.6,-3.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df['datetime']

0        2020-04-13T21:30:59.801831+00:00
1        2020-04-12T04:02:18.159383+00:00
2        2020-04-15T01:03:59.029326+00:00
3        2020-04-13T22:23:06.997578+00:00
4        2020-04-17T15:24:35.822355+00:00
                       ...
20067    2020-04-13T17:51:36.956822+00:00
20068    2020-06-28T21:28:21.530881+00:00
20069    2020-04-10T05:10:36.787070+00:00
20070    2020-04-13T18:58:26.954663+00:00
20071    2020-04-14T13:02:33.307684+00:00
Name: datetime, Length: 20072, dtype: object

In [31]:
import datetime as dt

In [32]:
dtime = pd.to_datetime(df["datetime"]).dt

In [33]:
df["date"] = dtime.date

In [34]:
df.head()

,uuid,datetime,cough_detected,latitude,longitude,age,gender,respiratory_condition,fever_muscle_pain,status,...,dyspnea_3,wheezing_3,stridor_3,choking_3,congestion_3,nothing_3,cough_type_3,diagnosis_3,severity_3,date
0,00039425-7f3a-42aa-ac13-834aaa2b6b92,2020-04-13T21:30:59.801831+00:00,0.9609,31.3,34.8,15.0,male,False,False,healthy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-13
1,0009eb28-d8be-4dc1-92bb-907e53bc5c7a,2020-04-12T04:02:18.159383+00:00,0.9301,40.0,-75.1,34.0,male,True,False,healthy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-12
2,0012c608-33d0-4ef7-bde3-75a0b1a0024e,2020-04-15T01:03:59.029326+00:00,0.0482,-16.5,-71.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-15
3,001328dc-ea5d-4847-9ccf-c5aa2a3f2d0f,2020-04-13T22:23:06.997578+00:00,0.9968,NaN,NaN,21.0,male,False,False,healthy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-13
4,001c85a8-cc4d-4921-9297-848be52d4715,2020-04-17T15:24:35.822355+00:00,0.0735,40.6,-3.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-17

In [35]:
df["hour"] = dtime.hour

In [36]:
df["min"] = dtime.minute

In [37]:
df["month"] = dtime.month

In [38]:
df["day_name"] = dtime.day_name()

In [39]:
df.tail()

,uuid,datetime,cough_detected,latitude,longitude,age,gender,respiratory_condition,fever_muscle_pain,status,...,congestion_3,nothing_3,cough_type_3,diagnosis_3,severity_3,date,hour,min,month,day_name
20067,fff13fa2-a725-49ef-812a-39c6cedda33d,2020-04-13T17:51:36.956822+00:00,0.7154,31.9,34.7,21.0,male,True,False,healthy,...,NaN,NaN,NaN,NaN,NaN,2020-04-13,17,51,4,Monday
20068,fff3ff61-2387-4139-938b-539db01e6be5,2020-06-28T21:28:21.530881+00:00,0.5257,51.6,-0.2,NaN,female,False,False,symptomatic,...,NaN,NaN,NaN,NaN,NaN,2020-06-28,21,28,6,Sunday
20069,fff474bf-39a4-4a61-8348-6b992fb5e439,2020-04-10T05:10:36.787070+00:00,0.1945,-39.0,-68.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-10,5,10,4,Friday
20070,fffaa9f8-4db0-46c5-90fb-93b7b014b55d,2020-04-13T18:58:26.954663+00:00,0.0243,41.0,28.8,50.0,male,True,True,healthy,...,NaN,NaN,NaN,NaN,NaN,2020-04-13,18,58,4,Monday
20071,fffce9f0-a5e8-4bee-b13b-c671aac4a61c,2020-04-14T13:02:33.307684+00:00,0.9754,41.0,28.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-14,13,2,4,Tuesday

In [41]:
df.drop(['datetime'], inplace=True, axis = 1)

In [42]:
df.head()

,uuid,cough_detected,latitude,longitude,age,gender,respiratory_condition,fever_muscle_pain,status,quality_1,...,congestion_3,nothing_3,cough_type_3,diagnosis_3,severity_3,date,hour,min,month,day_name
0,00039425-7f3a-42aa-ac13-834aaa2b6b92,0.9609,31.3,34.8,15.0,male,False,False,healthy,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-13,21,30,4,Monday
1,0009eb28-d8be-4dc1-92bb-907e53bc5c7a,0.9301,40.0,-75.1,34.0,male,True,False,healthy,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-12,4,2,4,Sunday
2,0012c608-33d0-4ef7-bde3-75a0b1a0024e,0.0482,-16.5,-71.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-15,1,3,4,Wednesday
3,001328dc-ea5d-4847-9ccf-c5aa2a3f2d0f,0.9968,NaN,NaN,21.0,male,False,False,healthy,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-13,22,23,4,Monday
4,001c85a8-cc4d-4921-9297-848be52d4715,0.0735,40.6,-3.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-04-17,15,24,4,Friday

In [44]:
df.to_csv("updated_vimal1.csv",index= False)