In [5]:
import pandas as pd
import numpy as np

import seaborn as sns
import librosa
import matplotlib.pyplot as plt
import os
import soundfile as sf
import math
from tqdm import tqdm

In [6]:
df = pd.read_csv('/home/abrol/ARYAN_MT22019/CoughVid/public_dataset/metadata_compiled.csv')

In [7]:
df.columns

Index(['uuid', 'datetime', 'cough_detected', 'latitude', 'longitude', 'age',
       'gender', 'respiratory_condition', 'fever_muscle_pain', 'status',
       'quality_1', 'cough_type_1', 'dyspnea_1', 'wheezing_1', 'stridor_1',
       'choking_1', 'congestion_1', 'nothing_1', 'diagnosis_1', 'severity_1',
       'quality_2', 'cough_type_2', 'dyspnea_2', 'wheezing_2', 'stridor_2',
       'choking_2', 'congestion_2', 'nothing_2', 'diagnosis_2', 'severity_2',
       'quality_3', 'dyspnea_3', 'wheezing_3', 'stridor_3', 'choking_3',
       'congestion_3', 'nothing_3', 'cough_type_3', 'diagnosis_3',
       'severity_3'],
      dtype='object')

In [8]:

# Import module
from geopy.geocoders import Nominatim
 
# Initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

In [24]:
(df['latitude'], df['longitude'])

(0        31.3
 1        40.0
 2       -16.5
 3         NaN
 4        40.6
          ...
 20067    31.9
 20068    51.6
 20069   -39.0
 20070    41.0
 20071    41.0
 Name: latitude, Length: 20072, dtype: float64,
 0        34.8
 1       -75.1
 2       -71.5
 3         NaN
 4        -3.6
          ...
 20067    34.7
 20068    -0.2
 20069   -68.1
 20070    28.8
 20071    28.7
 Name: longitude, Length: 20072, dtype: float64)

In [ ]:
df1 =

In [35]:
lat = df['latitude'][20068]
long = df['longitude'][20068]
s = str(lat) + ', ' + str(long)

In [36]:
s

'51.6, -0.2'

In [41]:
location = geolocator.reverse(s)
print(location.raw)

{'place_id': 241802718, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright', 'osm_type': 'way', 'osm_id': 2984535, 'lat': '51.59938391041735', 'lon': '-0.19983902303008075', 'class': 'highway', 'type': 'residential', 'place_rank': 26, 'importance': 0.10000999999999993, 'addresstype': 'road', 'name': 'Rathgar Close', 'display_name': 'Rathgar Close, Church End, London Borough of Barnet, London, Greater London, England, N3 1UA, United Kingdom', 'address': {'road': 'Rathgar Close', 'suburb': 'Church End', 'city_district': 'London Borough of Barnet', 'ISO3166-2-lvl8': 'GB-BNE', 'city': 'London', 'state_district': 'Greater London', 'state': 'England', 'ISO3166-2-lvl4': 'GB-ENG', 'postcode': 'N3 1UA', 'country': 'United Kingdom', 'country_code': 'gb'}, 'boundingbox': ['51.5992597', '51.5995039', '-0.2003144', '-0.1993798']}

In [61]:
a = location.raw
a['address']['city']

'London'

In [51]:
location.raw

{'place_id': 241802718,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 2984535,
 'lat': '51.59938391041735',
 'lon': '-0.19983902303008075',
 'class': 'highway',
 'type': 'residential',
 'place_rank': 26,
 'importance': 0.10000999999999993,
 'addresstype': 'road',
 'name': 'Rathgar Close',
 'display_name': 'Rathgar Close, Church End, London Borough of Barnet, London, Greater London, England, N3 1UA, United Kingdom',
 'address': {'road': 'Rathgar Close',
  'suburb': 'Church End',
  'city_district': 'London Borough of Barnet',
  'ISO3166-2-lvl8': 'GB-BNE',
  'city': 'London',
  'state_district': 'Greater London',
  'state': 'England',
  'ISO3166-2-lvl4': 'GB-ENG',
  'postcode': 'N3 1UA',
  'country': 'United Kingdom',
  'country_code': 'gb'},
 'boundingbox': ['51.5992597', '51.5995039', '-0.2003144', '-0.1993798']}

In [64]:
def locationApi(lat, long):
    if np.isnan(lat) or np.isnan(long):
        return float('nan'), float('nan'), float('nan')

    s = str(lat) + ', ' + str(long)
    location = geolocator.reverse(s)
    a = location.raw
    if 'address' not in a:
        return float('nan'), float('nan'), float('nan')

    result1 = float('nan')
    result2 = float('nan')
    result3 = float('nan')

    if 'country' in a['address']:
        result1 = a['address']['country']
    if 'state' in a['address']:
        result2 = a['address']['state']
    if 'city' in a['address']:
        result3 = a['address']['city']
        
    return result1, result2, result3

In [57]:
new_df = df[['latitude', 'longitude']].copy()

In [65]:
new_df[['country', 'state', 'city']] = new_df.apply(lambda row: pd.Series(locationApi(row['latitude'], row['longitude'])), axis=1)

In [68]:
new_df

       latitude  longitude         country                state          city
0          31.3       34.8           ישראל           מחוז הדרום       באר שבע
1          40.0      -75.1   United States         Pennsylvania  Philadelphia
2         -16.5      -71.5            Perú             Arequipa           NaN
3           NaN        NaN             NaN                  NaN           NaN
4          40.6       -3.6          España  Comunidad de Madrid           NaN
...         ...        ...             ...                  ...           ...
20067      31.9       34.7           ישראל                  NaN          יבנה
20068      51.6       -0.2  United Kingdom              England        London
20069     -39.0      -68.1       Argentina            Río Negro           NaN
20070      41.0       28.8         Türkiye                  NaN           NaN
20071      41.0       28.7         Türkiye                  NaN           NaN

[20072 rows x 5 columns]

In [70]:
new_df.to_csv('location_details.csv', index=True)